h1, h3, a, li, p {
	font-family: raleway;
}

body {
	margin: 0;
	background-image: url("Imgs/API-bg.png");
	overflow: hidden;
}

h1 {
	color: tomato;
	background-color: #ECFAFF;
	font-size: 55px;
	padding: 2%;
	max-width: 75%;
	margin: 4% 0 0 2%;
}

h3 {
	color: black;
	font-size: 48px;
	margin: 12% 0 10% 4%;
	text-align: center;
}

p {
	font-size: 22px;
	max-width:800px;
	margin: -1.2% 0 0 25%;
	z-index: 2;

}

li {
	display: inline;
	list-style-type: none;
	padding: 5px 10px;
	font-size: 16px;
}

ul {
	background:white;
	box-shadow: -3px 3px 5px silver;
	margin: 0;
	padding: 1.5%;
	margin-bottom: 5px;
	white-space: nowrap;

}

a {
	text-decoration: none;
	color: black;
}

a:hover {
	color: tomato;
}

a:active {
	color: black;
}

#site-url {
	color: tomato;
}

#site-url:hover {
	color: black;
}

#site-url:active {
	color: #FEF175;
}

#icon-img {
	opacity: .8;
}

#icon-img:hover {
	opacity: 1;
}

#more-work {
	font-size: 55px;
}

#more-work:hover {
	color: tomato;
}

#More-work-section {
	font-size: 45px;
	margin-top: 12%;
	font-weight: 800;
	padding-bottom: 5%;
	user-select: none;
	color: #e16e79;
	margin-left: 28%;
}

#more-work-ul {
	box-shadow: none;
	background-color: #ffffff00
	/*background-color: silver;*/
}






