html {
	font-family: "Avenir Next";
	}

body {
	margin: 0;


}

li {
	display: inline;
	list-style-type: none;
	padding: 5px 10px;
	font-size: 16px;
}

ul {
	background:white;
	box-shadow: -3px 3px 5px silver;
	margin: 0;
	padding: 1.5%;
	margin-bottom: 5px;
	white-space: nowrap;

}

a {
	text-decoration: none;
	color: black;
}

a:hover {
	color: #79BBED;
}

a:active {
	color: black;
}

img {
	width: 100%;
	margin-top: -5%;
	margin-bottom: 5%;
}

h2 {
	font-size: 45px;
}

p {
	line-height: 1.6;
}

iframe {
	margin-bottom: 10%;
}

.wrap {
	max-width: 70%;
	margin: 0 auto 0 auto;
}


#column {
	flex: 50%;
	-webkit-column-gap: 5%;
	column-gap: 5%;
	padding: 2%;
}

#row {
	display: flex;
	/*margin-bottom: 7%;*/
}

#product-img {
	margin-top: 10%;
	width: 100%;
	columns: auto;
}

#more-work {
	font-size: 55px;
}

#more-work:hover {
	color: tomato;
}

#More-work-section {
	font-size: 45px;
	margin-top: 20%;
	font-weight: 800;
	padding-bottom: 5%;
	user-select: none;
	color: #e16e79;

	margin-left: 25%;
}

#more-work-ul {
	box-shadow: none;
	background-color: #ffffff00
	/*background-color: silver;*/
}

#icon-img {
	opacity: .8;
}

#icon-img:hover {
	opacity: 1;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: white; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: red; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: tomato; 
}