
h1, h2, li {
	font-family: raleway;
}


#work {
	text-align: center;
	background: steelblue;
	max-width: 500px;
	display: inline-block;
}

h2 {
	padding: 300px 200px;
	color: white;

}

.horizontal-scrolling-wrapper {
	overflow-x: scroll;
	overflow-y: hidden;
	white-space: nowrap;
}

li {
	list-style-type: none;
	display: inline;
	padding: 5px 30px 15px 0px;
}

a {
	text-decoration: none;
	color: black;
}

a:hover {
	color: #FFCB03;
}

a:active {
	color: black;