
h2, a {
	font-family: raleway;
	/*color:black;*/
}

h2 {
	padding: 300px 200px;
	
}

a {
	text-decoration: none;
	color: black;
	font-family: "raleway";
	/*color: black;*/
}

li {
	font-size: 18px;
	padding: 2px 0 10px 5px;
	list-style-type: none;
	display: inline;
	margin: 0 2%;
}

ul {
	background:white;
	box-shadow: -3px 3px 5px grey;
	margin: 0;
	padding: 1.5%;
}

img {
	width: 400px;
}

body {
	margin: 0;
	/*overflow: hidden;*/
	/*background-color: black;*/
	/*background-color: oldlace;*/
}

a:hover {
	color: silver;
}

a:active {
	color:black;
}

#work {
	background: white;
	max-width: 500px;
	display: inline-block;
	max-height: 571.42px;
	margin: 0 10px 0 0;
	position: relative;
}

#description-paragraph {
	font-family: 'Montserrat', sans-serif;
	font-size: 2.5em;
	margin: 5% 5% 5% 13%;
	display:flex;
	flex-wrap: wrap;

}


.horizontal-scrolling-wrapper {
	overflow-x: scroll;
	overflow-y: hidden;
	white-space: nowrap;
	/*width: 100%;*/
	margin-bottom: 25px;
	padding-bottom: 10%;
}

#title-card {
	opacity: 0;
	position: absolute;
	z-index: 2;
}

#title-card:hover {
	opacity: .9;
}

#title-card:active {
	opacity: 1;
}





